@keyframes tohome {
    0% {
        background-color: #edece7;
    }

    100% {
        background-color: #edece7;
    }
}

@keyframes todirectors {
    0% {
        background-color: #edece7;
    }

    100% {
        background-color: rgb(167, 129, 26);
    }
}

@keyframes tostories {
    0% {
        background-color: #edece7;
    }

    100% {
        background-color: rgb(218, 199, 149);
    }
}

@keyframes tocontacts {
    0% {
        background-color: #edece7;
    }

    100% {
        background-color: #c4610B;
    }
}

.home {
    position                 : absolute;
    top                      : 0;
    width                    : 100%;
    height                   : 100vh;
    background-color         : #edece7;
    z-index                  : -1;
    animation-name           : tohome;
    animation-duration       : 1s;
    animation-timing-function: ease;
}

.directors {
    position                 : absolute;
    top                      : 0;
    width                    : 100%;
    height                   : 100vh;
    background-color         : rgb(167, 129, 26);
    z-index                  : -1;
    animation-name           : todirectors;
    animation-duration       : 1s;
    animation-timing-function: ease;
}

.stories {
    position                 : fixed;
    top                      : 0;
    width                    : 100%;
    height                   : 100vh;
    background-color         : rgb(218, 199, 149);
    z-index                  : -1;
    animation-name           : tostories;
    animation-duration       : 1s;
    animation-timing-function: ease;
}

.hrcontacts {
    position                 : absolute;
    top                      : 0;
    left                     : 0;
    width                    : 100%;
    height                   : 100vh;
    background-color         : #c4610B;
    z-index                  : -1;
    animation-name           : tocontacts;
    animation-duration       : 1s;
    animation-timing-function: ease;
}