.header {
    width: 100%;
    height: 7rem;
    display: flex;
    flex: 0.6;
    align-items: center;
    justify-content: space-between;
    font-family: 'MainsonNeyeExtended-Bold';
    z-index: 1;
}
  
.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
}
  
.header li {
    margin-left: 3rem;
}
  
.header a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #000000;
}
  
.header a:hover,
.header a:active,
.header a.active {
    color: #000000;
}

.topbar {
    display: flex;
    position: fixed;
    flex-direction: row;
    width: 100%;
}
 
.fullservice {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    flex: 0.25;
    font-family: 'MainsonNeyeExtended-Medium';
}

.copy {
    display: flex;
    align-items: center;
    flex: 0.15;
    font-size: 0.8rem;
    font-family: 'MainsonNeyeExtended-Medium';
}