.testColorData{
    text-align: justify; /* For Edge */
    background-color: transparent;
    vertical-align: middle;
    font-size: 17px;
    margin-left: 15%;
    margin-right: 10%;
    color: black;
    justify-content: left;
}

.wrapperClass {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 17px;
    color: black;
    background-color: transparent;
    vertical-align: middle;
    margin-left: 5%;
    margin-top: 2%;
  }

.one {
    justify-content: center;
    justify-items: center;
    margin-left: 35%;
    margin-right: 3%;
    margin-bottom: 5%;
  }
  .two {
    justify-content: center;
    justify-items: center;
    
  }
  .three {
    justify-content: center;
    justify-items: center;
   
  }
  .four {
    justify-content: center;
    justify-items: center;
    margin-right: 35%;
    margin-left: 3%;
    margin-bottom: 5%;
  }
